{{!-- Citation for the code in this file:
        Code is copied from, adapted from, and based on:
        Source Title: nodejs-starter-app
        Author(s): gkochera (George Kochera), Cortona1, currym-osu (Dr. Michael Curry), dmgs11
        Source Type: source code and information guide
        Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
        Date Accessed: 7/25/2022 --}}

<link rel="stylesheet" href="./css/page.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<ul>
<li><a href="/">Home</a></li>
<li><a href="/books">Books</a></li>
<li><a href="/genres">Genres</a></li>
<li><a href="/patrons">Patrons</a></li>
<li><a href="/publishers">Publishers</a></li>
<li><a href="/authors">Authors</a></li>
<li><a href="/books_authors">Books and their Authors</a></li>
</ul>

<h1>Publishers</h1>

<p class="page_instructions">Use this page to view publishers, add a new publisher, and delete a publisher.</p>
<p>---</p>

{{!-- Form to add a record to the table  --}}
<form id="add-publisher-ajax">
    <fieldset>
        <legend><b>Add a Publisher</b></legend>
        <p>To add a new publisher, please enter their information below and click 'Submit'!</p>

        <label for="input-publsiher_name">Publisher Name: </label>
        <input type="text" name="input-publsiher_name" id="input-publisher_name">
    
        
        <label for="input-publisher_country">Publisher Country: </label>
        <input type="text" name="input-publisher_country" id="input-publisher_country">


        <input type="submit">
    </fieldset>
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_publisher.js"></script>


{{!-- Create a table --}}
<table id="authors">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Publisher ID</th>
            <th>Publisher Name</th>
            <th>Publisher Country</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each publishers}}
        <tr data-value={{this.publisher_id}}>
            <td>{{this.publisher_id}}</td>
            <td>{{this.publisher_name}}</td>
            <td>{{this.publisher_country}}</td>
            <td><button onclick="deletePublisher({{this.publisher_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_publisher.js"></script>
